<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
</head>
<body>
	<form th:action="@{/admin/updatePassword}" method="post">
		<div>
			<input id="oldpass" name="oldpassword" type="password" /> 
			<input
				id="pass" name="password" type="password" /> 
			<input
				id="passConfirm" type="password" /> 
			<button type="submit">Change Password</button>
		</div>
	</form>

</body>
</html>