<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<title>Home</title>
	<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/home/information}">Information</a>
</nav>
<div class="container">
	<h2>
		Hi <span th:utext="${userName}"></span>, this is the home page.
	</h2>
	<p>
		<span th:utext="${email}"></span> <span th:utext="${pass}"></span>
	</p>
	<a th:href="@{/logout}">Sign out</a>
</div>
</body>
</html>